<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd  
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.xsd
        http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring 
 	    http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
 	    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Configura o EHCache -->
	<ehcache:annotation-driven cache-manager="cacheManager" />
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="/WEB-INF/ehcache.xml" />
	</bean>
	<!-- Seta anotaçoes para serem usadas pelo Spring -->
	<!-- Define o pacote onde o Spring vai procurar por beans anotados -->
	<context:component-scan base-package="br.com.webhomebeta" />

	<!-- Define o local dos arquivos de imagem, javascript, e css -->
	<mvc:resources mapping="/img/**" location="/resources/img/" />
	<mvc:resources mapping="/css/**" location="/resources/css/" />
	<mvc:resources mapping="/js/**" location="/resources/js/" />
	<mvc:resources mapping="/bootstrap/**" location="/resources/bootstrap/" />
	<mvc:resources mapping="/bootstrap/css/**" location="/resources/bootstrap/css/" />
	<mvc:resources mapping="/bootstrap/js/**" location="/resources/bootstrap/js/" />
	<mvc:resources mapping="/js/jquery-ui-1.10.3/ui/**"
		location="/js/jquery-ui-1.10.3/ui/" />

	<mvc:resources mapping="/uploadedImgs/**" location="/uploadedImgs/" />
	<mvc:resources mapping="/uploadedArquivos/**" location="/uploadedArquivos/" />
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean
				class="br.com.webhomebeta.resolver.AtmoSpringControllerResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

	<!-- Diz ao Spring onde as paginas JSP estao -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/webdinamic/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Define a pagina inical -->
	<mvc:view-controller path="/" view-name="index" />

	<!-- define que as transaçoes irao ser anotadas -->
	<tx:annotation-driven />

	<!-- Configurações do VelocityEngine -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
				resource.loader=file
				file.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
			</value>
		</property>
	</bean>

	<!-- Propriedades do JavaMailSender com SMTP do Gmail -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		<property name="protocol" value="smtps" />
		<property name="username" value="webhomecondominios@gmail.com" />
		<property name="password" value="lima102030" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtps.auth">true</prop>
				<prop key="mail.smtps.starttls.enable">true</prop>
				<prop key="mail.smtps.debug">true</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="repository"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributeSource" ref="transactionAttributeSource" />
		<property name="target" ref="publicacaoDAO" />
	</bean>

	<bean id="transactionAttributeSource"
		class="org.springframework.transaction.interceptor.NameMatchTransactionAttributeSource">
		<property name="properties">
			<value>
				get*=PROPAGATION_REQUIRED,readOnly
				find*=PROPAGATION_REQUIRED,readOnly
				create*=PROPAGATION_REQUIRED,readOnly
				delete*=PROPAGATION_REQUIRED
			</value>
		</property>
	</bean>

	<!-- Spring Security -->
	<sec:http auto-config="true">
		<sec:form-login login-page="/index.jsp"
			authentication-failure-url="/index.jsp?error"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />
		<sec:remember-me key="myAppKey"
			token-validity-seconds="186000" />
		<sec:intercept-url pattern="/index.jsp"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/index"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/cadastro.jsp"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/esqueciMinhaSenha.jsp"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/admin" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/home" access="ROLE_MORADOR,ROLE_ADMIN" />
		<sec:intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/home.jsp" access="ROLE_MORADOR,ROLE_ADMIN" />
		<sec:intercept-url pattern="/atas.jsp" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/atas" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/perfil" access="ROLE_MORADOR,ROLE_ADMIN" />
		<sec:intercept-url pattern="/perfil.jsp" access="ROLE_MORADOR,ROLE_ADMIN" />
	</sec:http>


	<bean id="myAuthenticationSuccessHandler"
		class="br.com.webhomebeta.controller.MyAuthenticationSuccessHandler">
	</bean>

	<sec:authentication-manager>
		<sec:authentication-provider
			user-service-ref="customLogin">
		</sec:authentication-provider>
	</sec:authentication-manager>

	<!-- Configura o multipart resolver -->

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000" />
		<property name="uploadTempDir" ref="uploadDirResource" />
	</bean>

	<bean id="uploadDirResource" class="org.springframework.core.io.FileSystemResource">
		<constructor-arg>
			<value>C:/imgs</value>
		</constructor-arg>
	</bean>

	<!-- Configuracao do Hibernate -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="/WEB-INF/jdbc.properties"></bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" p:driverClassName="${jdbc.driverClassName}"
		p:url="${jdbc.databaseurl}" p:username="${jdbc.username}" p:password="${jdbc.password}"></bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

	</bean>

	<bean id="comentarioDAO" class="br.com.webhomebeta.dao.imp.ComentarioDAOImp"></bean>
	<bean id="comentarioService" class="br.com.webhomebeta.service.ComentarioService"></bean>
	<bean id="publicacaoDAO" class="br.com.webhomebeta.dao.imp.PublicacaoDAOImp"></bean>
	<bean id="publicacaoService" class="br.com.webhomebeta.service.PublicacaoService"></bean>
	<bean id="daoCond" class="br.com.webhomebeta.dao.imp.DescricaoCondominioImp"></bean>
	<bean id="cadastroCondominioService" class="br.com.webhomebeta.service.CadastroCondominioService"></bean>
	<bean id="atasDao" class="br.com.webhomebeta.dao.imp.AtasImp"></bean>
	<bean id="atasService" class="br.com.webhomebeta.service.AtasService"></bean>
	<bean id="uploadArquivobeanUsuarios"
		class="br.com.webhomebeta.bean.UploadArquivosAtasControllerBean"></bean>
	<bean id="assebleiaDao" class="br.com.webhomebeta.dao.imp.AssembleiaImp"></bean>
	<bean id="assembleiaService" class="br.com.webhomebeta.service.AssembleiaService"></bean>
	<bean id="funcionarioService" class="br.com.webhomebeta.service.FuncionarioService"></bean>
	<bean id="funcionarioDao" class="br.com.webhomebeta.dao.imp.FuncionarioDaoImp"></bean>
	<bean id="beanUsuario" class="br.com.webhomebeta.bean.UploadControllerBean"
		scope="session">
		<aop:scoped-proxy />
	</bean>
	<bean id="dadosUsuarioBean" class="br.com.webhomebeta.bean.DadosUsuarioBean"
		scope="session">
		<aop:scoped-proxy />
	</bean>
	<bean id="moradorControllerBean" class="br.com.webhomebeta.bean.MoradorControllerBean"
		scope="session">
		<aop:scoped-proxy />
	</bean>
	<bean id="perfilControllerBean" class="br.com.webhomebeta.bean.PerfilControllerBean"
		scope="session">
		<aop:scoped-proxy />
	</bean>

	<bean id="espacoCondominioDao" class="br.com.webhomebeta.dao.imp.EspacoCondominioDaoImp"></bean>
	<bean id="espacoCondominioService" class="br.com.webhomebeta.service.EspacoCondominioServe"></bean>
	<bean id="notificacaoDAO" class="br.com.webhomebeta.dao.imp.NotificacaoDAOImp"></bean>
	<bean id="notificacaoSerivce" class="br.com.webhomebeta.service.NotificacaoService"></bean>
	<bean id="perfilDAO" class="br.com.webhomebeta.dao.imp.PerfilDAOImp"></bean>
	<bean id="perfilSerivce" class="br.com.webhomebeta.service.PerfilService"></bean>
	<bean id="gostouDAO" class="br.com.webhomebeta.dao.imp.GostouDAOImp"></bean>
	<bean id="gostouSerivce" class="br.com.webhomebeta.service.GostouService"></bean>
	<bean id="uploadArquivosAssembleiaControllerBean"
		class="br.com.webhomebeta.bean.UploadArquivosAssembleiaControllerBean"></bean>
	<bean id="enquetesService" class="br.com.webhomebeta.service.EnquetesService"></bean>
	<bean id="dao" class="br.com.webhomebeta.dao.imp.EnqueteDaoImp"></bean>

	<bean id="enquetesControllerBean" class="br.com.webhomebeta.bean.EnquetesControllerBean"></bean>
	<bean id="opcaoVotadaDAO" class="br.com.webhomebeta.dao.imp.opcaoVotadaDAOImp"></bean>
	<bean id="opcaoVotadaService" class="br.com.webhomebeta.service.opcaoVotadaService"></bean>


</beans>
