<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<!-- Seta anotaçoes para serem usadas pelo Spring -->
	<!-- Define o pacote onde o Spring vai procurar por beans anotados -->
	<context:component-scan base-package="br.com.webhomebeta" />

	<!-- Define a pagina inical -->
	<mvc:view-controller path="/" view-name="index" />
	
	<!-- Define o local dos arquivos de imagem, javascript, e css -->
	<mvc:resources mapping="/webstatic/**" location="/webstatic/" />

	<mvc:annotation-driven />
	
	<!-- Diz ao Spring onde as paginas JSP estao -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/webdinamic/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- define que as transaçoes irao ser anotadas -->
	<tx:annotation-driven />
	<!-- Configuracao do Banco de Dados -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
		<property name="url"
			value="jdbc:jtds:sqlserver://FERNANDO-PC:1433/Condominio" />
		<property name="username" value="fernandoolimaa" />
		<property name="password" value="lima102030" />
	</bean>



	<!-- Configurações do VelocityEngine -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
				resource.loader=file
				file.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
			</value>
		</property>
	</bean>
	
	<!-- Propriedades do JavaMailSender com SMTP do Gmail -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		<property name="protocol" value="smtps" />
		<property name="username" value="webhomecondominios@gmail.com" />
		<property name="password" value="lima102030" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtps.auth">true</prop>
				<prop key="mail.smtps.starttls.enable">true</prop>
				<prop key="mail.smtps.debug">true</prop>
			</props>
		</property>
	</bean>

	<!-- Spring Security -->
	<sec:http auto-config="true">
		<sec:form-login login-page="/index.jsp"
			authentication-failure-url="/index.jsp?error"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />
		<sec:intercept-url pattern="/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
	</sec:http>

	<bean id="myAuthenticationSuccessHandler"
		class="br.com.webhomebeta.controller.MyAuthenticationSuccessHandler">
	</bean>

	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT LOGIN, SENHA, 'True' as STATUS FROM [dbo].[User] WHERE LOGIN=?"
				authorities-by-username-query="SELECT LOGIN, PERMISSAO FROM [dbo].[User] WHERE LOGIN=?" />
		</sec:authentication-provider>
	</sec:authentication-manager>

	<!-- Configuracao do Hibernate -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="webHomeBetaPu" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>
	<!-- Configuracao do gerente de transacoes do Spring -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
</beans>
