html { height: 100%; }

body#login {
	background: url(../img/background-login.jpg) no-repeat center bottom;
}

#noRegister {
	float: right;
	margin-top: 10px;
}

#login .form-signin {
	padding-bottom: 40px;
}

#titleLogin {
	text-align: center;
}