body#login-view {
	/*background: #0F3242;*/
	background: #bde2f0; /* Old browsers */
background: -moz-linear-gradient(45deg,  #bde2f0 1%, #153c63 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#bde2f0), color-stop(100%,#153c63)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #bde2f0 1%,#153c63 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #bde2f0 1%,#153c63 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #bde2f0 1%,#153c63 100%); /* IE10+ */
background: linear-gradient(45deg,  #bde2f0 1%,#153c63 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bde2f0', endColorstr='#153c63',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#login {
	background: #fff;
	width: 300px;
	height: 300px;
	float: left;
	position: relative;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: 150px;
	padding: 10px;
	border-radius: 200px 200px 0px 200px;
	border: 0px solid #0F3242;	
	-moz-border-radius: 200px 200px 0px 200px;
	-webkit-border-radius: 200px 200px 0px 200px;	
	
	-webkit-box-shadow: 4px 4px 18px 0 #0F3242;
	-moz-box-shadow: 4px 4px 18px 0 #0F3242;
	box-shadow: 4px 4px 18px 0 #0F3242;
}

#login h1 {
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: #DE2844;
	text-transform: uppercase;
	font-family: 'Chela One', Arial, Verdana;
	float: left;
	margin-top: 40px;
}

#warnningMessage {
	width: 100%;
	height: 15px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #DE2844;
	font-weight: bold;
	margin-top: 15px;
	visibility: hidden;
}

#warnningMessage p {
	margin-top: 0;
}

.error #warnningMessage {
	visibility: visible;
}

#frm-login {
	float: left;
	margin-top: 15px;
}

label {
	color: #153C63;
	font-size: 16px;
	width: 60px;
	text-align: right;
	float: left;
	margin: 10px 5px 0 0;
}

input {
	width: 210px;
	float: left;
	margin-top: 10px;
	-webkit-border-radius: 4px;
	border: 1px solid #0F3242;
	height: 21px;
}

.error input {
	border: 1px solid #DE2844;
}

a#forgotPassword {
	color: #153C63;
	font-size: 12px;
	float: right;
	margin: 5px 20px 0 0;
}

#btSubmitLogin {
	width: 60px;
	height: 40px;
	background: #BDE2F0;
	float: right;
	margin: 20px 20px 0 0;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	clear: both;
	font-weight: bold;	
}

#btSubmitLogin:hover {
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
}

#noRegister {
	float: right;
	margin: 20px 20px 0 0;
	clear: both;
}

#noRegister a {
	color: #DE2844;
}

#noRegister a:hover {
	text-decoration: none;
}
