<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 <!-- Mapeia as entidades.. -->
<hibernate-configuration>
    <session-factory>
        <mapping class="br.com.webhomebeta.entity.Usuario"></mapping>
        <mapping class="br.com.webhomebeta.entity.Comentario"></mapping>
        <mapping class="br.com.webhomebeta.entity.Publicacao"></mapping>
        <mapping class="br.com.webhomebeta.entity.AtasEntity"></mapping>
         <mapping class="br.com.webhomebeta.entity.DescricaoCondominio"></mapping>
         <mapping class="br.com.webhomebeta.entity.Assembleia"></mapping>
        
    </session-factory>
</hibernate-configuration>